Options +FollowSymLinks
RewriteEngine On

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^.*$ ./index.php

<Files config.php>
    Order Deny,Allow
    Deny from all
    Allow from 127.0.0.1
</Files>

<Files .env>
    Order Allow,Deny
    Deny from all
</Files>